/* Ajustement de la lisibilité sur l'arrière-plan */
        body {
            font-family: system-ui;
            background-image: url("img/bg_naachtun.jpg"); /* Utilisez votre chemin d'image correct */
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: #fff;
        }

        .content-section {
            background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            color: #fff;
            margin-top: 20px;
        }
        
        .content-section h2 {
            color: #ffd700; /* Or Maya */
            margin-bottom: 15px;
        }
        
        .content-section ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        
        .content-section ul li {
            margin-bottom: 10px;
        }
        
        .content-section strong {
            color: #ffd700; /* Accentuer les titres dans les listes */
        }
        

        h1, h2 {
            color: #ffd700; /* Or Maya */
        }

        a.list-group-item {
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        a.list-group-item:hover {
            background: rgba(255, 255, 255, 0.2);
            color: #ffd700;
        }

        footer {
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
        }
        
        .comment-section {
            margin-top: 10px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            color: #fff;
            font-size: 0.9rem;
        }

        .comment-section strong {
            color: #ffd700;
        }